In [7]:
!pip install sqlalchemy scikit-learn pandas psycopg2

Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.11/site-packages (2.0.28)
Requirement already satisfied: scikit-learn in ./.venv/lib/python3.11/site-packages (1.4.1.post1)
Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.2.1)
Collecting psycopg2
  Downloading psycopg2-2.9.9.tar.gz (384 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 384.9/384.9 kB 6.3 MB/s eta 0:00:00a 0:00:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.11/site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: numpy<2.0,>=1.19.5 in ./.venv/lib/python3.11/site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in ./.venv/lib/python3.11/site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in ./.venv/lib/python3.11/site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in ./.venv/lib/python3.11/site-packages (from scikit-learn) (3.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (pyproject.toml) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.9-cp311-cp311-macosx_14_0_arm64.whl size=144282 sha256=feceea245082d119b22bc911f4b4dfd1d922e36d1c52623b8eecea54651fb151
  Stored in directory: /Users/crke/Library/Caches/pip/wheels/ab/34/b9/78ebef1b3220b4840ee482461e738566c3c9165d2b5c914f51
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [2]:
import pandas as pd
from datetime import date, timedelta

In [35]:
df = pd.read_csv("Data/instances_features_dataset_all.csv", sep=",")
df["data_ocorrencia"] = pd.to_datetime(df["data_ocorrencia"])
df["planting_start_date"] = pd.to_datetime(df["planting_start_date"])

instances_df = df[df["ocorrencia_id"].notnull()]
instances_df = instances_df[["ocorrencia_id", "data_ocorrencia", "planting_start_date"]]

print(f"total: {df.shape[0]}")
print(f"filtered: {instances_df.shape[0]}")
instances_df.head()

total: 910
filtered: 455

   ocorrencia_id data_ocorrencia planting_start_date
0        19093.0      2022-11-25          2022-09-11
1        19094.0      2022-11-25          2022-09-11
4        18776.0      2022-03-30          2021-09-13
5        18775.0      2022-03-29          2021-09-13
6        18680.0      2022-03-18          2021-09-13

In [59]:
df = pd.read_csv("Data/severity_per_occurrence.csv")

df = df[df["ocorrencia_id"] == 15588]
df = df[df["severity_acc"] <= 145]
df = df.loc[df["severity_acc"].idxmax()]

df

Unnamed: 0                   55855
ocorrencia_id              15588.0
harvest_relative_day            50
date                    2016-11-02
severity_acc              143.2178
Name: 55855, dtype: object

In [50]:
from random import shuffle
import numpy as np

df = pd.read_csv("Data/instances_features_dataset_all.csv")

data_index = df.index.to_list()
shuffle(data_index)
k = 5

fold_size = len(data_index) // k
folds = []
for i in range(k):
    train_indices = np.concatenate([data_index[:i * fold_size], data_index[(i + 1) * fold_size:]])
    test_indices = data_index[i * fold_size: (i + 1) * fold_size]
    
    folds.append((train_indices, test_indices))

In [53]:
for fold_case in folds:
    train_df = df.filter(items=fold_case[0], axis=0)
    test_df = df.filter(items=fold_case[1], axis=0)

    print(train_df.shape[0])
    print(test_df.shape[0])
    break

728
182

In [68]:
df = pd.DataFrame([
    ["23", "1", "55"],
    ["23", "1", "55"],
    ["23", "1", "55"],
])

df.min(axis=1)

0    1
1    1
2    1
dtype: object

## k-fold cross-validation with sklearn

In [87]:
import numpy as np
from sklearn.model_selection import KFold

X = np.array([[1, 2], [3, 4], [1, 2], [3, 4]])
y = np.array([1, 2, 3, 4])

kf = KFold(n_splits=2, shuffle=True)

for i, (train_index, test_index) in enumerate(kf.split(X)):
    print(f"Fold {i}:")
    print(f"  Train: index={train_index}")
    print(f"  Test:  index={test_index}")

Fold 0:
  Train: index=[1 3]
  Test:  index=[0 2]
Fold 1:
  Train: index=[0 2]
  Test:  index=[1 3]

In [128]:
data = pd.read_csv("Data/instances_features_dataset.csv")
data = data[data["ocorrencia_id"].notnull()]

x = data[[
    "precipitation_15d", "precipitation_30d", "precipitation_45d",
    "precipitation_60d", "precipitation_75d", "precipitation_90d",
    "precipitation_15d_count", "precipitation_30d_count", "precipitation_45d_count",
    "precipitation_60d_count", "precipitation_75d_count", "precipitation_90d_count"
]]
y = data[["day_in_harvest"]].astype(int)

kf = KFold(n_splits=5, shuffle=True, random_state=85682938)

for i, (train_index, test_index) in enumerate(kf.split(data)):
    print(f"Fold {i}:")
    print(f"  Train: total={len(train_index)}, index={train_index}")
    print(f"  Test:  total={len(test_index)}, index={test_index}")

Fold 0:
  Train: total=364, index=[  0   1   2   3   4   5   6   8   9  10  12  14  15  16  17  18  20  21
  22  23  25  27  28  29  31  32  33  34  35  36  38  42  44  45  46  47
  48  49  51  52  54  55  56  57  58  59  60  63  64  65  66  67  68  71
  72  74  75  76  77  78  79  80  81  82  83  84  85  86  88  89  91  92
  93  94  95  96  97  98  99 100 101 102 103 104 106 108 109 110 111 112
 113 114 115 116 117 118 119 120 121 122 123 124 126 127 128 129 130 131
 132 134 135 137 138 139 140 141 144 145 147 149 150 151 152 153 154 155
 156 157 158 160 161 162 163 164 165 167 168 169 170 172 173 176 177 178
 179 180 182 183 184 185 186 187 189 191 192 193 194 195 196 197 199 200
 203 204 206 207 208 209 211 212 213 214 216 217 218 219 220 221 222 223
 225 226 228 229 230 231 232 233 234 236 238 240 242 243 246 247 248 249
 250 251 252 253 254 256 257 258 259 260 261 262 263 264 265 266 267 268
 269 271 272 275 276 277 278 279 281 282 283 285 286 289 290 291 292 293
 295 296 297 298 299 300 301 302 303 305 306 307 308 309 310 312 314 315
 316 317 318 319 320 321 322 324 325 326 327 329 330 331 332 333 334 335
 337 338 339 340 341 343 346 347 348 349 350 351 352 354 355 356 358 359
 360 361 362 363 364 365 367 368 369 370 371 372 374 375 376 377 378 379
 380 381 382 384 385 388 389 390 391 393 395 396 397 398 399 400 401 402
 403 404 405 406 408 409 410 412 414 415 416 417 418 419 420 421 424 425
 428 429 430 432 433 434 436 437 438 439 440 441 442 443 444 445 446 449
 451 452 453 454]
  Test:  total=91, index=[  7  11  13  19  24  26  30  37  39  40  41  43  50  53  61  62  69  70
  73  87  90 105 107 125 133 136 142 143 146 148 159 166 171 174 175 181
 188 190 198 201 202 205 210 215 224 227 235 237 239 241 244 245 255 270
 273 274 280 284 287 288 294 304 311 313 323 328 336 342 344 345 353 357
 366 373 383 386 387 392 394 407 411 413 422 423 426 427 431 435 447 448
 450]
Fold 1:
  Train: total=364, index=[  0   2   3   4   5   7   8   9  11  12  13  14  15  16  18  19  20  21
  22  23  24  26  27  29  30  31  33  34  35  36  37  38  39  40  41  42
  43  44  45  47  48  49  50  52  53  54  55  56  57  58  59  60  61  62
  63  67  68  69  70  71  72  73  74  77  78  79  80  82  83  84  85  87
  88  89  90  91  92  93  94  95  98 100 101 102 103 105 106 107 108 110
 111 112 113 114 115 116 117 119 120 121 122 123 124 125 126 127 129 130
 132 133 134 135 136 137 139 141 142 143 144 145 146 147 148 149 150 153
 154 155 157 159 160 161 162 163 164 165 166 167 168 169 170 171 172 173
 174 175 177 179 180 181 182 184 185 186 187 188 190 192 193 195 197 198
 199 200 201 202 203 204 205 206 207 208 210 215 217 218 222 224 225 226
 227 228 229 231 232 233 234 235 236 237 238 239 241 243 244 245 247 248
 249 250 251 253 255 256 258 260 262 263 264 265 266 267 268 269 270 271
 273 274 275 277 278 279 280 283 284 285 286 287 288 289 290 291 292 293
 294 295 297 298 299 300 301 302 303 304 306 308 310 311 312 313 316 319
 320 321 322 323 324 325 327 328 329 330 332 333 334 335 336 338 339 340
 341 342 343 344 345 346 347 350 351 352 353 354 356 357 358 359 360 362
 363 364 365 366 367 369 370 371 372 373 374 376 377 378 380 381 382 383
 386 387 388 389 390 392 393 394 396 397 398 399 400 402 403 404 405 407
 408 409 410 411 412 413 414 416 419 421 422 423 424 425 426 427 428 429
 430 431 432 433 434 435 436 437 438 439 440 443 444 446 447 448 449 450
 451 452 453 454]
  Test:  total=91, index=[  1   6  10  17  25  28  32  46  51  64  65  66  75  76  81  86  96  97
  99 104 109 118 128 131 138 140 151 152 156 158 176 178 183 189 191 194
 196 209 211 212 213 214 216 219 220 221 223 230 240 242 246 252 254 257
 259 261 272 276 281 282 296 305 307 309 314 315 317 318 326 331 337 348
 349 355 361 368 375 379 384 385 391 395 401 406 415 417 418 420 441 442
 445]
Fold 2:
  Train: total=364, index=[  0   1   2   3   6   7  10  11  12  13  14  15  16  17  18  19  20  22
  23  24  25  26  28  29  30  31  32  36  37  38  39  40  41  42  43  44
  45  46  47  48  50  51  53  54  55  56  57  59  60  61  62  64  65  66
  67  68  69  70  71  72  73  75  76  77  78  80  81  82  83  84  86  87
  88  90  91  92  94  95  96  97  98  99 100 101 103 104 105 106 107 108
 109 110 111 112 115 116 117 118 121 123 124 125 126 127 128 129 130 131
 133 135 136 137 138 140 141 142 143 144 146 147 148 151 152 153 154 155
 156 157 158 159 160 162 165 166 167 168 169 171 172 173 174 175 176 177
 178 179 180 181 182 183 185 186 188 189 190 191 192 193 194 196 197 198
 199 200 201 202 203 205 208 209 210 211 212 213 214 215 216 217 219 220
 221 223 224 226 227 228 229 230 233 235 236 237 238 239 240 241 242 243
 244 245 246 248 249 250 251 252 253 254 255 256 257 258 259 260 261 262
 263 264 266 269 270 271 272 273 274 275 276 278 279 280 281 282 284 285
 286 287 288 289 290 292 293 294 295 296 297 299 301 302 303 304 305 306
 307 308 309 310 311 313 314 315 316 317 318 319 322 323 324 325 326 327
 328 329 331 333 334 335 336 337 338 339 340 341 342 343 344 345 347 348
 349 353 354 355 357 360 361 362 363 364 366 368 369 372 373 375 376 377
 379 380 381 382 383 384 385 386 387 389 390 391 392 393 394 395 396 397
 399 401 403 406 407 408 411 412 413 415 417 418 419 420 421 422 423 424
 426 427 429 431 432 433 434 435 436 437 438 439 440 441 442 445 447 448
 449 450 451 452]
  Test:  total=91, index=[  4   5   8   9  21  27  33  34  35  49  52  58  63  74  79  85  89  93
 102 113 114 119 120 122 132 134 139 145 149 150 161 163 164 170 184 187
 195 204 206 207 218 222 225 231 232 234 247 265 267 268 277 283 291 298
 300 312 320 321 330 332 346 350 351 352 356 358 359 365 367 370 371 374
 378 388 398 400 402 404 405 409 410 414 416 425 428 430 443 444 446 453
 454]
Fold 3:
  Train: total=364, index=[  1   4   5   6   7   8   9  10  11  13  15  17  19  21  22  24  25  26
  27  28  29  30  32  33  34  35  37  39  40  41  43  44  46  47  49  50
  51  52  53  54  55  57  58  59  61  62  63  64  65  66  67  69  70  72
  73  74  75  76  77  79  80  81  83  84  85  86  87  88  89  90  92  93
  94  95  96  97  99 101 102 104 105 107 108 109 110 112 113 114 115 116
 117 118 119 120 122 123 124 125 126 127 128 130 131 132 133 134 135 136
 138 139 140 142 143 144 145 146 148 149 150 151 152 155 156 157 158 159
 161 163 164 166 169 170 171 173 174 175 176 177 178 180 181 183 184 185
 186 187 188 189 190 191 192 194 195 196 198 200 201 202 204 205 206 207
 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226
 227 228 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245
 246 247 248 249 250 251 252 254 255 256 257 258 259 260 261 263 264 265
 267 268 270 271 272 273 274 276 277 280 281 282 283 284 285 286 287 288
 289 291 294 295 296 298 299 300 301 304 305 307 309 311 312 313 314 315
 317 318 319 320 321 323 324 325 326 327 328 329 330 331 332 335 336 337
 340 342 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 361 364 365 366 367 368 370 371 373 374 375 376 378 379 380 382 383 384
 385 386 387 388 389 391 392 394 395 396 398 400 401 402 403 404 405 406
 407 408 409 410 411 412 413 414 415 416 417 418 419 420 422 423 424 425
 426 427 428 430 431 434 435 437 438 439 441 442 443 444 445 446 447 448
 450 451 453 454]
  Test:  total=91, index=[  0   2   3  12  14  16  18  20  23  31  36  38  42  45  48  56  60  68
  71  78  82  91  98 100 103 106 111 121 129 137 141 147 153 154 160 162
 165 167 168 172 179 182 193 197 199 203 208 229 253 262 266 269 275 278
 279 290 292 293 297 302 303 306 308 310 316 322 333 334 338 339 341 343
 360 362 363 369 372 377 381 390 393 397 399 421 429 432 433 436 440 449
 452]
Fold 4:
  Train: total=364, index=[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  16  17  18
  19  20  21  23  24  25  26  27  28  30  31  32  33  34  35  36  37  38
  39  40  41  42  43  45  46  48  49  50  51  52  53  56  58  60  61  62
  63  64  65  66  68  69  70  71  73  74  75  76  78  79  81  82  85  86
  87  89  90  91  93  96  97  98  99 100 102 103 104 105 106 107 109 111
 113 114 118 119 120 121 122 125 128 129 131 132 133 134 136 137 138 139
 140 141 142 143 145 146 147 148 149 150 151 152 153 154 156 158 159 160
 161 162 163 164 165 166 167 168 170 171 172 174 175 176 178 179 181 182
 183 184 187 188 189 190 191 193 194 195 196 197 198 199 201 202 203 204
 205 206 207 208 209 210 211 212 213 214 215 216 218 219 220 221 222 223
 224 225 227 229 230 231 232 234 235 237 239 240 241 242 244 245 246 247
 252 253 254 255 257 259 261 262 265 266 267 268 269 270 272 273 274 275
 276 277 278 279 280 281 282 283 284 287 288 290 291 292 293 294 296 297
 298 300 302 303 304 305 306 307 308 309 310 311 312 313 314 315 316 317
 318 320 321 322 323 326 328 330 331 332 333 334 336 337 338 339 341 342
 343 344 345 346 348 349 350 351 352 353 355 356 357 358 359 360 361 362
 363 365 366 367 368 369 370 371 372 373 374 375 377 378 379 381 383 384
 385 386 387 388 390 391 392 393 394 395 397 398 399 400 401 402 404 405
 406 407 409 410 411 413 414 415 416 417 418 420 421 422 423 425 426 427
 428 429 430 431 432 433 435 436 440 441 442 443 444 445 446 447 448 449
 450 452 453 454]
  Test:  total=91, index=[ 15  22  29  44  47  54  55  57  59  67  72  77  80  83  84  88  92  94
  95 101 108 110 112 115 116 117 123 124 126 127 130 135 144 155 157 169
 173 177 180 185 186 192 200 217 226 228 233 236 238 243 248 249 250 251
 256 258 260 263 264 271 285 286 289 295 299 301 319 324 325 327 329 335
 340 347 354 364 376 380 382 389 396 403 408 412 419 424 434 437 438 439
 451]

In [4]:
import pandas as pd
df = pd.read_csv("Data/instances_features_dataset.csv")

df.head()

,Unnamed: 0,level_0,index,ocorrencia_id,data_ocorrencia,safra,cidade_nome,estado_nome,ocorrencia_localizacao,ocorrencia_latitude,...,precipitation_45d_count,precipitation_60d_count,precipitation_75d_count,precipitation_90d_count,planting_start_date,severity_acc_30d,severity_acc_safra_5d,severity_acc_safra_10d,severity_acc_safra_15d,day_in_harvest
0,0,0,0,19093.0,2022-11-25,2022/2023,Londrina,PARANÁ,POINT(-23.51431985105242 -51.110478545475566),-23.514320,...,18,22,27,32,2022-09-11,28.2907,171.8830,171.8830,153.7961,75.0
1,1,1,1,19094.0,2022-11-25,2022/2023,Terra Roxa,PARANÁ,POINT(-24.208665509061248 -54.06292911153218),-24.208666,...,25,29,33,37,2022-09-11,38.8677,281.9005,281.9005,246.6543,75.0
2,2,2,0,NaN,NaN,2022/2023,NaN,NaN,NaN,-24.309195,...,18,22,27,32,2022-09-11,NaN,NaN,NaN,NaN,NaN
3,3,3,1,NaN,NaN,2022/2023,NaN,NaN,NaN,-24.675280,...,16,19,23,30,2022-09-11,NaN,NaN,NaN,NaN,NaN
4,4,4,0,18776.0,2022-03-30,2021/2022,Candói,PARANÁ,POINT(-24.601402 -51.718105),-24.601402,...,14,18,21,24,2021-09-13,57.6805,507.4171,496.1893,482.9241,198.0

In [13]:
import pandas as pd
from sqlalchemy import create_engine

DB_STRING = "postgresql://username:password@localhost:5432/mestrado_pesquisa"

db_con_engine = create_engine(DB_STRING)
conn = db_con_engine.connect()

In [14]:
df = pd.read_sql_query("SELECT segment_id, prec, date_precipitation FROM precipitation LIMIT 100", conn)

df

    segment_id     prec        date_precipitation
0            1   5.5625 2020-01-01 15:00:00+00:00
1            2   6.8125 2020-01-01 15:00:00+00:00
2            3  10.8750 2020-01-01 15:00:00+00:00
3            4  11.4375 2020-01-01 15:00:00+00:00
4            5   9.7500 2020-01-01 15:00:00+00:00
..         ...      ...                       ...
95          96   2.0625 2020-01-01 15:00:00+00:00
96          97   2.3125 2020-01-01 15:00:00+00:00
97          98   1.7500 2020-01-01 15:00:00+00:00
98          99   0.3750 2020-01-01 15:00:00+00:00
99         100   0.4375 2020-01-01 15:00:00+00:00

[100 rows x 3 columns]

In [45]:
from pathlib import Path

current = Path("severity")

if current.is_dir():
    # file_list = list(f.relative_to(current) for f in current.iterdir())
    file_list = list(current.glob("*"))
    file_list.sort()
    print(file_list[-1])

severity/2024-03-14-17-31-17

In [82]:
from datetime import date, timedelta

df = pd.read_csv("Data/precipitation_all.csv", parse_dates=["date_precipitation"])
df = df[df["segment_id"] == 1276]
df = df[df["prec"] >= 0.5]

harvest_start_date = date(2022, 9, 11)
last_date = harvest_start_date + timedelta(days=14)

df = df[(df["date_precipitation"] >= pd.to_datetime(harvest_start_date)) & (df["date_precipitation"] <= pd.to_datetime(last_date))]


print(df["prec"].sum())
print(df["prec"].count())

85.5
7

In [149]:
df = pd.read_csv("Data/instances_features_dataset.csv")
df = df[df["data_ocorrencia"].notnull()]

df_features = pd.DataFrame(
    {
        "feature_1": 11112,
        "feature_2": 345435,
        "feature_3": 888,
        "feature_4": 34543,
        "feature_5": 556,
        "feature_6": 876567867,
    },
    index=[11]
)

df_res = pd.merge(df, df_features, how="outer", left_index=True, right_index=True)

df_res[df_res["feature_1"].notnull()].head()

,Unnamed: 0,level_0,index,ocorrencia_id,data_ocorrencia,safra,cidade_nome,estado_nome,ocorrencia_localizacao,ocorrencia_latitude,...,severity_acc_safra_5d,severity_acc_safra_10d,severity_acc_safra_15d,day_in_harvest,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6
11,11,11,7,18545.0,2022-02-14,2021/2022,Guarapuava,PARANÁ,POINT(-25.37197264291004 -51.49172049804218),-25.371973,...,469.1464,432.1045,418.5074,154.0,11112.0,345435.0,888.0,34543.0,556.0,876567867.0

In [156]:
df_res.filter(regex="feature_|cidade_nome", axis=1)

,cidade_nome,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6
0,Londrina,NaN,NaN,NaN,NaN,NaN,NaN
1,Terra Roxa,NaN,NaN,NaN,NaN,NaN,NaN
4,Candói,NaN,NaN,NaN,NaN,NaN,NaN
5,Guarapuava,NaN,NaN,NaN,NaN,NaN,NaN
6,Pinhão,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
812,Londrina,NaN,NaN,NaN,NaN,NaN,NaN
813,Tomazina,NaN,NaN,NaN,NaN,NaN,NaN
814,Campo Mourão,NaN,NaN,NaN,NaN,NaN,NaN
815,Castro,NaN,NaN,NaN,NaN,NaN,NaN
816,Boa Esperança,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
import pandas as pd

instances_df = pd.read_csv("Data/instances_dataset.csv", parse_dates=["data_ocorrencia"])
instances_df["data_ocorrencia"] = pd.to_datetime(instances_df["data_ocorrencia"])

type(instances_df["data_ocorrencia"][0])

pandas._libs.tslibs.timestamps.Timestamp